# ==========================================
# LOKALE MEDIENDATEIEN
# Nicht auf GitHub hochladen
# ==========================================

assets/daten/**/*.png
assets/daten/**/*.jpg
assets/daten/**/*.jpeg
assets/daten/**/*.webp
assets/daten/**/*.gif

assets/daten/**/*.mp3
assets/daten/**/*.wav
assets/daten/**/*.ogg
assets/daten/**/*.flac
assets/daten/**/*.m4a
assets/daten/**/*.aac

assets/daten/**/*.mkv
assets/daten/**/*.mp4
assets/daten/**/*.webm
assets/daten/**/*.m4v


# ==========================================
# ARCHIVE
# ==========================================

*.zip
*.rar
*.7z
*.tar
*.tar.gz


# ============================================================
# AUTOMATISCH ERZEUGTE SHARE-DATEIEN
# ============================================================

/share/

# ==========================================
# SYSTEM
# ==========================================

.DS_Store
Thumbs.db